<div class="page database-info">
  <h1 class="main-title">{{viewTitle}}</h1>
  <ul class="info-panel">
    <li>Database name:</li>
    <li>Number of Records:</li>
    <li>Date of first entry:</li>
    <li>Date of last entry:</li>
    {{!-- <li>JavaScript Programmers: <span class="progr_number">{{numberOfJSProgrammers}}</span></li>
    <li>Python Programmers: <span class="progr_number">{{numberOfPythonProgrammers}}</span></li>
    <li>Java Programmers: <span class="progr_number">{{numberOfJavaProgrammers}}</span></li>
    <li>C++ Programmers: <span class="progr_number">{{numberOfCPlusPlusProgrammers}}</span></li>
    <li>C# Programmers: <span class="progr_number">{{numberOfCSharpProgrammers}}</span></li>
    <li>Ruby Programmers: <span class="progr_number">{{numberOfRubyProgrammers}}</span></li> --}}
  </ul>
</div>